*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 400px;
  height: 100px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.modal-header .title {
    font-family: Arial, Helvetica, sans-serif;
  font-size: 21.7px;
  
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  
}

.modal-body {
  padding: 0px 15px;
  
  
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 16, 16);
    position: relative;
    left: 0px;
    top: 1px;
    
}

#synolo{
    color: rgb(24, 16, 16);
    position: absolute;
    left: 56%;
    bottom:43.8%;

    position: fixed;
    font-size: 19px;
}

#corrects{
  color: rgb(24, 16, 16);
  width: 14px;
  font-size: 19.4px;
  border: none;
  
  
  position: absolute;
  bottom: 61.8%;
  left: 52%;
  position: fixed;
}
